html,body{
	width: 100%;
	height: 100%;

}
#order img{
	width: 35%;
	height: 35%;
	/*border-radius: 50%;*/
}
#order{
	/*position: relative;*/
	background: #f6f6f6;
	border-bottom: 1px solid #e5e4e4;

}

#order h2.order-title{
	font-size: 16px;
	text-align: center;
	padding: 18px 0;
	background: #fff;
	border-bottom: 1px solid #e5e4e4;
	
}
#order span.return{
	display: inline-block;
	float: left;
	margin-left: 10px;
	color: #b1b1ba;
	position: absolute;
	top: 18px;
}
#order .order-detail{
	border: 1px solid #e5e4e4;
	padding: 10px;
	margin-top: 20px;
	background: #fff;
	border-top: 1px solid #e5e4e4;
	position: relative;
}
#order .order-detail h3.order-type{
	color: #72737d;
	position: absolute;
	top: 15px;
	left: 40%;

}

#order .order-detail span.order-tip{
	position: absolute;
	display: block;
	color: #fff;
	background: #fecb00;
	top: 50px;
	left: 40%;
	font-size: 10px;
	padding: 8px;
	border-radius: 20px;

}

#order .order-info h2.order-info-title{
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 5px;
	font-size: 14px;
}
#order .order-info-list{
	background: #fff;
	border-top: 1px solid #e5e4e4;
	border-bottom: 1px solid #e5e4e4;
	padding-top: 10px;
	padding-bottom: 10px;
}
#order .order-info-list li{
	height: 50px;
	margin-left: 10px;
	position: relative;
	/*line-height: 40px;*/
	
}
#order .order-info-list li i{
	color: #e5e4e4;

}
#order .order-info-list li input{
	width: 90%;
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	border: none;
	outline: none;
	border-bottom: 1px solid #e5e4e4;
	font-size: 14px;
	
}

#order .order-info p.order-promise{
	background: #fff;
	height: 400px;
	padding: 10px 20px;
	margin-top: 20px;
	border-top: 1px solid #e5e4e4;
	color: #72737d;
	text-indent: 20px;
}
#order .order-info .sub-btn{
	-webkit-appearance: none;
	width: 100%;
	font-size: 20px;
	color: #fff;
	height: 60px;
	background: rgba(255,0,0,0.7);
	display: block;
	position: fixed;
	bottom: 0;
	outline: none;
	border: none;
	cursor: pointer;
}


#address-description{
	position: absolute;
	width: 100px;
	height: 40px;
	top: 0;
	right: 10px;
	text-align: right;
}
#username-description{
	position: absolute;
	width: 100px;
	height: 40px;
	top: 0;
	right: 10px;
	text-align: right;
}
#phone-description{
	position: absolute;
	width: 300px;
	height: 40px;
	top: 0;
	right: 10px;
	text-align: right;

}
.zvalid-resultformat{
	display: inline-block;
	padding: 10px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	position: absolute;
	top: 0;
	right: 10px;
	color: #f00;
	font-weight: 900;
	/*background: #ccc;*/
	text-align: right;
}



